nav{
  background-color: rgb(11, 77, 77);
  text-align: center;
}
nav ul{
  background-color:rgb(252, 249, 255);
  padding: 20px;
}
nav ul li{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px; ;
  display: inline;
}

header{
  text-align: center;
  font-family: sans-serif;
  background-color: rgba(75, 51, 51, 0.144);
  padding: 2%;
  flex-wrap: wrap;
  border-radius: 10px;
}
section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
section div{
  flex: 1;
  padding: 10%;
  justify-content: space-between;
  background-color: rgb(71, 61, 46);
  border: 1px solid #ccc;
}
.new-div{
  width: 100px; ;
 border-radius: 10%;
  background-color: lightblue;
  margin-top: 10px;
  
}
footer{
  background-color: rgb(73, 107, 97);
  padding: auto;
  text-align: center;
  
  
}